#!/bin/bash

SECURITY_TOKEN="{{ getv "/config/SMTP/SESPassword" }}"
USERNAME="{{ getv "/config/SMTP/SESUser" }}"
ENDPOINT="{{ getv "/config/SMTP/SESServer" }}"

API="SendRawEmail";
API_VERSION=$'\002'

# Careful implementation of Amazon magic here, change at your own risks
SMTP_PASSWORD=$( ( echo -n "$API_VERSION" ; echo -n "$API" | openssl dgst -binary -sha256 -hmac "$SECURITY_TOKEN") | base64 )

echo "[$ENDPOINT]:587 $USERNAME:$SMTP_PASSWORD" > /etc/postfix/sasl_passwd
postmap hash:/etc/postfix/sasl_passwd

