#!/bin/bash

SECURITY_TOKEN="{{ getv "/config/SMTP/SESPassword" }}"
USERNAME="{{ getv "/config/SMTP/SESUser" }}"
ENDPOINT="{{ getv "/config/SMTP/SESServer" }}"

API="SendRawEmail";
API_VERSION=$'\002'
SIGNED_MESSAGE=$(echo -n "$API" | openssl dgst -binary -sha256 -hmac "$SECURITY_TOKEN")
SIGNED_MESSAGE_PADDED="$API_VERSION$SIGNED_MESSAGE"
SMTP_PASSWORD=$(echo -n "$SIGNED_MESSAGE_PADDED" | openssl base64)

echo "[$ENDPOINT]:587 $USERNAME:$SMTP_PASSWORD" > /etc/postfix/sasl_passwd
postmap hash:/etc/postfix/sasl_passwd

