%param = (
           'LDAPBaseDN' => '',
           'LDAPbinddn' => '',
           'LDAPfilter' => '',
           'LDAPmailattribute' => 'mail',
           'LDAPserver' => '',
           'LDAPstarttls' => 0,
           'LDAPuidattribute' => 'uid',
           'RADIUS_NAS_IP' => '',
           'RADIUS_email_suffix' => '',
           'RADIUS_secret' => '',
           'RADIUS_server' => '',
           'ajax_user_autocompletion' => '1',
           'allow_attachment_deletion' => '0',
           'allow_attachment_display' => '1',
           'allowbugdeletion' => 0,
           'allowemailchange' => 1,
           'allowuserdeletion' => 0,
           'announcehtml' => '{{ if exists "/config/AnnounceHTML" }}{{ getv "/config/AnnounceHTML" }}{{ else }}{{ end }}',
           'antispam_abusive_comment_count' => '5',
           'antispam_abusive_disable_text' => 'This account has been automatically disabled as a result of a high number of comments tagged as abusive.<br>
<br>
All interactions on Bugzilla should follow our <a href="https://bugzilla.mozilla.org/page.cgi?id=etiquette.html">etiquette guidelines</a>.<br>
<br>
Please contact the address at the end of this message if you believe this to be an error, or if you would like your account reactivated in order to interact within our etiquette guidelines.',
           'antispam_multi_user_limit_age' => '2',
           'antispam_multi_user_limit_count' => '5',
           'antispam_spammer_comment_count' => '3',
           'antispam_spammer_disable_text' => 'This account has been automatically disabled as a result of a high number of spam comments.

Please contact the address at the end of this message if you believe this to be an error.',
           'antispam_spammer_exclude_group' => 'canconfirm',
           'attachment_base' => '',
           'attachment_storage' => 'database',
           'auth_delegation' => 0,
           'auth_env_email' => '',
           'auth_env_id' => '',
           'auth_env_realname' => '',
           'aws_access_key_id' => '',
           'aws_secret_access_key' => '',
           'bitly_token' => '{{ if exists "/config/BitlyToken" }}{{ getv "/config/BitlyToken" }}{{ else }}{{ end }}',
           'bonsai_url' => 'http://bonsai.mozilla.org',
           'bugzilla_version' => '',
           'chartgroup' => 'editbugs',
           'collapsed_comment_tags' => 'obsolete, spam',
           'comment_taggers_group' => 'editbugs',
           'commentonchange_resolution' => 0,
           'commentonduplicate' => 0,
           'confirmuniqueusermatch' => 0,
           'cookiedomain' => '',
           'cookiepath' => '/',
           'createemailregexp' => '.*',
           'cvsroot' => ':pserver:anonymous:anonymous@cvs-mirror.mozilla.org:/cvsroot',
           'cvsroot_get' => ':pserver:anonymous:anonymous@cvs-mirror.mozilla.org:/cvsroot',
           'debug_group' => 'admin',
           'default_search_limit' => '500',
           'defaultopsys' => '',
           'defaultplatform' => '',
           'defaultpriority' => '--',
           'defaultquery' => 'resolution=---&resolution=DUPLICATE&emailassigned_to1=1&emailassigned_to2=1&emailreporter2=1&emailqa_contact2=1&emailtype1=exact&emailtype2=exact&order=Importance&keywords_type=allwords&long_desc_type=substring',
           'defaultseverity' => 'normal',
           'delete_comments_group' => 'admin',
           'disable_bug_updates' => 0,
           'docs_urlbase' => 'http://www.bugzilla.org/docs/4.2/en/html/',
           'duplicate_or_move_bug_status' => 'RESOLVED',
           'edit_comments_group' => 'admin',
           'emailregexp' => '^[\\w\\.\\+\\-=\\/\\*\\|\\^\\{\\}\\&\\~]+@[\\w\\.\\-]+\\.[\\w\\-]+$',
           'emailregexpdesc' => 'A legal address must contain exactly one \'@\', and at least one \'.\' after the @,
and may not contain any commas or spaces.
',
           'emailsuffix' => '',
           'enable_simple_push' => 0,
           'github_client_id' => '{{ if exists "/config/GitHubClientID" }}{{ getv "/config/GitHubClientID" }}{{ else }}{{ end }}',
           'github_client_secret' => '{{ if exists "/config/GitHubClientSecret" }}{{ getv "/config/GitHubClientSecret" }}{{ else }}{{ end }}',
           'globalwatchers' => '',
           'honeypot_api_key' => '{{ if exists "/config/HoneyPotAPIKey" }}{{ getv "/config/HoneyPotAPIKey" }}{{ else }}{{ end }}',
           'honeypot_threat_threshold' => '32',
           'inbound_proxies' => '{{ if exists "/config/InboundProxies" }}{{ getv "/config/InboundProxies" }}{{ else }}{{ end }}',
           'insidergroup' => 'core-security',
           'last_visit_keep_days' => 10,
           'letsubmitterchoosemilestone' => 1,
           'letsubmitterchoosepriority' => '1',
           'lxr_root' => 'mozilla/',
           'lxr_url' => 'http://mxr.mozilla.org/mozilla',
           'mail_delivery_method' => 'Test',
           'mailfrom' => '"Bugzilla@Mozilla" <bugzilla-daemon@mozilla.org>',
           'maintainer' => 'bugzilla-admin@mozilla.org',
           'makeproductgroups' => 0,
           'max_reviewer_last_seen' => 0,
           'max_search_results' => '10000',
           'maxattachmentsize' => '4096',
           'maxusermatches' => 100,
           'memcached_namespace' => 'bugzilla:',
           'memcached_servers' => '{{ getv "/config/MemCachedEndpoint" }}:{{ getv "/config/MemCachedPort" }}',          
           'metrics_elasticsearch_index' => '',
           'metrics_elasticsearch_server' => '',
           'metrics_elasticsearch_ttl' => '1210000000',
           'metrics_elasticsearch_type' => 'timings',
           'metrics_enabled' => '0',
           'metrics_user_ids' => '3881,5038,5898,13647,20209,251051,373476,409787',
           'mostfreqthreshold' => 5,
           'mozreview_app_id' => '',
           'mozreview_auth_callback_url' => '',
           'mozreview_base_url' => '',
           'musthavemilestoneonaccept' => 0,
           'mybugstemplate' => 'buglist.cgi?bug_status=UNCONFIRMED&amp;bug_status=NEW&amp;bug_status=ASSIGNED&amp;bug_status=REOPENED&amp;emailassigned_to1=1&amp;emailreporter1=1&amp;emailtype1=exact&amp;email1=%userid%&amp;field0-0-0=bug_status&amp;type0-0-0=notequals&amp;value0-0-0=UNCONFIRMED&amp;field0-0-1=reporter&amp;type0-0-1=equals&amp;value0-0-1=%userid%',
           'noresolveonopenblockers' => 0,
           'password_check_on_login' => '1',
           'password_complexity' => 'no_constraints',
           'persona_includejs_url' => 'https://login.persona.org/include.js',
           'persona_proxy_url' => '',
           'persona_verify_url' => 'https://browserid.org/verify',
           'proxy_url' => '{{ if exists "/config/HTTPProxy" }}{{ getv "/config/HTTPProxy" }}{{ else }}{{ end }}',
           'querysharegroup' => 'editbugs',
           'quip_list_entry_control' => 'moderated',
           'rememberlogin' => 'defaulton',
           'requirelogin' => 0,
           'restrict_comments_enable_group' => '',
           'restrict_comments_group' => '',
           's3_bucket' => '',
           'search_allow_no_criteria' => 0,
           'sentry_uri' => '',
           'shadowdb' => '{{ if exists "/config/ShadowDBName" }}{{ getv "/config/ShadowDBName" }}{{ else }}{{ end }}',
           'shadowdbhost' => '{{ if exists "/config/ShadowDBHost" }}{{ getv "/config/ShadowDBHost" }}{{ else }}{{ end }}',
           'shadowdbport' => '{{ if exists "/config/ShadowDBPort" }}{{ getv "/config/ShadowDBPort" }}{{ else }}3306{{ end }}',
           'shadowdbsock' => '',
           'shutdownhtml' => '',
           'smtp_debug' => '{{ if exists "/config/SMTP/Debug" }}{{ getv "/config/SMTP/Debug" }}{{ else }}0{{ end }}',
           'smtp_password' => '{{ if exists "/config/SMTP/SESPassword" }}{{ getv "/config/SMTP/SESPassword" }}{{ else }}{{ end }}',
           'smtp_username' => '{{ if exists "/config/SMTP/SESUser" }}{{ getv "/config/SMTP/SESUser" }}{{ else }}{{ end }}',
           'smtpserver' => '{{ if exists "/config/SMTP/SESServer" }}{{ getv "/config/SMTP/SESServer" }}{{ else }}{{ end }}',
           'splinter_base' => 'page.cgi?id=splinter.html/',
           'ssl_redirect' => '{{ if exists "/config/SSLRedirect" }}{{ getv "/config/SSLRedirect" }}{{ else }}1{{ end }}',
           'sslbase' => '{{ if exists "/config/CanonicalServer" }}{{ getv "/config/CanonicalServer" }}/{{ else }}{{ end }}',
           'strict_isolation' => 0,
           'strict_transport_security' => 'include_subdomains',
           'timetrackinggroup' => 'timetrackers',
           'upgrade_notification' => 'disabled',
           'urlbase' => '{{ if exists "/config/CanonicalServer" }}{{ getv "/config/CanonicalServer" }}/{{ else }}{{ end }}',
           'use_mailer_queue' => '1',
           'use_see_also' => 1,
           'usebugaliases' => 1,
           'useclassification' => 1,
           'usemenuforusers' => 0,
           'useqacontact' => 1,
           'user_info_class' => 'Persona,GitHubAuth,CGI',
           'user_verify_class' => 'GitHubAuth,DB',
           'usestatuswhiteboard' => 1,
           'usetargetmilestone' => 1,
           'usevisibilitygroups' => 0,
           'utf8' => 1,
           'webdotbase' => '/usr/bin/dot',
           'webservice_email_filter' => 0,
           'whinedays' => 7
         );
